.navbar-brand {
    width: 15%;
}
.nav-link {
    color: black;
}
#nav-scroll {
    overflow-y: scroll; 
    overflow-x: hidden; 
    height: 100vh;
}
.img_star {
    width: 2rem;
}

table {
    background-color: rgb(255, 255, 255, 0.5);
}
tbody>tr, thead>tr>th {
    vertical-align: middle;
}
.haven-table {
    opacity: 0.9; 
    table-layout:fixed; 
    text-align: center;
}
#spine-div {
    position: absolute;
    top: 5vh ;
    bottom: 5vh;
    left: 5vw;
    width: 90vw;
    height: 60vw;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
}
footer {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /* margin-top: calc(60vw - 100vh); */
    background-color: rgb(255, 255, 255, 0.4);
}
@media screen and (max-width: 768px) {
    .navbar-brand {
        width: 25%;
    }
    .haven-table>thead>tr>th {
        font-size: xx-small;
    }
    .side-nav{
        position:fixed;
        overflow:hidden;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 10;
        width:100%;
        left:-100%;
        transition:left 1.5s;
    }
    .side-nav.out{
        left:0;
    }
    .side-nav.in {
        left:-100%;
    }
    .img_star {
        width: 1.6rem;
    }
    #spine-div {
        margin: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    #spine-div li {
        font-size: medium;
    }
}